<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">

    <title>Validation</title>
  </head>
  <body>
    <section class="form-02-main">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="_lk_de">
              <div class="form-03-main">
                <div class="logo">
                  <img src="static/images/user.png">
                </div>
                    <h2 style="color: rgb(26, 24, 24);">Validation Form</h2>
                    <form action="{{ url_for('predict1') }}" method="POST">
                      <h1 style="color: rgb(12, 12, 12);">Write the OTP here!</h1>
                      <div style="text-align: center;">
                        <input type="text" name="message" required="required" style="font-size: 12pt; width: 200px; background-color: #f7f6f6; color: #333;">
                      </div>
                      <br />
                      <div class="p-t-15">
                        <button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
                      </div>
                    </form>
                    
                    <div class="form-group pt-0">
                        <div class="_social_04">
                          <ol>
                            <li><i class="fa fa-facebook"></i></li>
                            <li><i class="fa fa-twitter"></i></li>
                            <li><i class="fa fa-google-plus"></i></li>
                            <li><i class="fa fa-instagram"></i></li>
                            <li><i class="fa fa-linkedin"></i></li>
                          </ol>
                        </div>
                      </div>
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </body>
      </html>